body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  #main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  aside {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
  }
  
  .user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }
  
  .user:hover,
  .user.selected {
    background-color: #ddd;
  }
  
  .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info h2 {
    margin: 0;
    font-size: 16px;
  }
  
  .user-info p {
    margin: 0;
    font-size: 12px;
    color: #777;
  }
  
  main {
    width: 75%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  #message-history {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
  }
  
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message div {
    display: flex;
    flex-direction: column;
  }
  
  .message strong {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .message span {
    font-size: 12px;
    color: #555;
  }
  
  .message p {
    margin: 0;
    font-size: 14px;
  }
  
  /* Nouveau style pour les messages envoyés */
  .message.right {
    justify-content: flex-end;
  }
  
  .message.right div {
    align-items: flex-end;
  }
  
  .message.right img {
    order: 1;
    margin-left: 10px;
    margin-right: 0;
  }
  
  #message-input {
    display: flex;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
  }
  
  #message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #message-input button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  #message-input button:hover {
    background-color: #45a049;
  }
  